/* code to make the background black in color*/
body {
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
.topmenu {
    width: 80%;
    margin: auto;
}
/*code to make the topmenu header black in color*/
header {
    background: black;
    top: 0;
    left: 0;
    position: sticky;
    height: 100px;   
    padding-top: 0px;
    padding-bottom: 0px;
}
/*code to ensure that the topmenu header container does not get overwride*/
header::after {
    content: '';
    display: table;
    clear: both;
}
/*code to make the contents/links of the topmenu shift to the right side*/
nav {
    text-align: center;
}
/*code to remove extra spaces from the top and the bottom of the topmenu background and to remove the bullet points*/
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*display: inline-block to put the menu side by side with spacing in between.
Use margin to center the top menu links.*/
nav li {
    display: inline-block;
    margin: 40px 40px;
    position: relative;
}


nav a {
    float: left;
    color:aliceblue;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}
/*color of menu when hovering*/
nav a:hover {
    color: #55d6aa;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    /*background color for animation*/
    background-color: #ffffff;
    
    position: absolute;
    bottom: 0 ;
    width: 0%;
/*transition for the top bar animation*/
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* JungKook Image*/
.img_jungkook {
    width: 100%;
    height: 100%; 

}

.text-position {
    padding-top: 0px;
    padding-left: 500px;
    width: 400px;
    text-align: center;
}

/*Merch Image*/
.img_merch{
    width: 400px;
    height: 200px;
    padding-top: 40px;
    padding-left: 500px;
    padding-bottom: 40px;
}


