/* font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Playpen+Sans:wght@100&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}
body {
    background-image: url("images/background-image.png");
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* top nav bar */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #11101b; /* makes the top nav bar black in color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px; /* adjust the distance between the text jung kook and the menu texts */
    z-index: 100;
}

.Name {
    font-size: 28px;
    font-weight: bold;
    color: #fefefe
}
  
.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

/* when hovering adds the white background */
.nav-bar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.nab-bar ul li a.active {
    color: #11101b;
    background: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
/* to make top menu change into side menu when screen gets smaller */
@media only screen and (max-width: 900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        color: #fefefe;
    }
}

/*Footer*/
footer {
    background-color: #111;
}

/* Spacing and alignment */
.footer {
    width: 100%;
    padding: 70px 40px 20px;
}

/* makes the icons go to the center */
.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white; /* make a square background behind each icon */
    margin: 10px; /* spaces each icons */
    border-radius: 50%;  /* make the square background round */
}

.socialIcons a i {
    font-size: 2em; /* make the icon bigger */
    color: black;
    opacity: 0.9;
}

/* hover effects on the icons */
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;

}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: nondisc; /* remove the bullet points from the Home etc */
}
/* makes the text white and spaces the text out */
.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 100%;
    opacity: 0.7;
    transition: 0.5s;
}
/* adds the hover effect from the text */
.footerNav ul li a:hover {
    opacity: 1;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/* makes footer responsive */
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



/* JungKook Image*/
.img_jungkook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;   
    padding-top: 80px;
}


.text-position-homepage {
    display: flex;
    background-color: #111;
    height: 300px;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto
}
.text-position-homepage p{
    text-align: center;
    max-width: 50%; /* ensure the text doesn't overflow */
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}



/*Merch Image*/
.img-merch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30%;  
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.video {
    display:contents;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: block;
}


/* Merch Page */

/* Products */
.merch-container {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
    padding-top: 100px;
}
/* make the columns that display the products */
.merch-header {
    display: grid;
    grid-template-columns: 1fr 50px;
}

.merch-header h1 {
    font-size: 40px;
}

.merch-header .shopping {
    position: relative;
    text-align: right;
}

.merch-header .shopping:hover {
    cursor: pointer;
}
/* style the shopping cart icon */
.merch-header .shopping svg {
    width: 40px;
}
/* style for the number below the shopping cart icon */
.merch-header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    top: 0;
    left: 100%; /* gets the cart menu out of view */
    width: 500px;
    background-color: black;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    margin-top: 100px;
    color: white;
    font-weight: 100;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0; /* push the items to the bottom */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* aligns the checkout items at the bottom of the page */
.card .checkOut div {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
/* style for "Close" */
.card .checkOut div:nth-child(2) {
    background-color: grey;
    color: white
}
/* for javascript when toggle the mennu will slide in */
.active .card {
    left: calc(100% - 500px)
}

.active .container {
    transform: translate(-200px);
}

/* creates the box behind the items */
.list .item {
    height: 100%;
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}

.list .item img {
    width: 90%; 
    height: 65%;
}

.list .item .title {
    font-weight: 600;
}
.list .item .price {
    margin: 10px;
}
/* styling for Add To Cart button */
.list .item button {
    background-color: #1C1F25;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
}
.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img{
    width: 60%;
}

.listCard button {
    width: 20px;
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}

@media only screen and (max-width: 972px) {
    .merch-container {
        width: 90%;
        margin: auto;
    }

    .list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .card {
        width: 70%; /* Adjust the width for smaller screens */
        left: 100%;
    }

    .active .card {
        left: 30%;
    }

}

/* Music Page */
/* styling for 'GOLDEN' */
.music-page-album {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 50px;
}

@media only screen and (max-width: 600px) {
    .music-page-album {
        font-size: 20px
    }
}

@media only screen and (max-width: 821px) {
    .music-page-wrapper {
        flex-direction: column;
    }
}

/* image under latest album */
.music-page-album-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%
}



.top-pic-music-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.thumbnail-left {
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
    transform: translateX(-50%);
}

.thumbnail-right {
    max-width: 320px;
    float: right;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
    transform: translateX(50%);
}

.thumbnail-left,
.thumbnail-right {
    transition: opacity 250ms ease-in, transform 500ms ease-in; /* transition on both opacity and transform */
    opacity: 0;
    visibility: hidden; /* to hide the image first so that when .thumbnail-left is triggered by javascript, the image will slowly */
}   

.thumbnail-left.appear,
.thumbnail-right.appear {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; /* makes the image slowly fade into screen */
}

.music-page-text-box {
    text-align: center;
    margin-top: 5%;
    color: black;
    position: relative;
}

.music-page-text-box h2 {
    margin: auto;
    font-size: 42px;
}

.music-page-text-box p {
    text-align: center;
    font-size: 42px;
}

/* to link to the neon styling */
:root {
    --clr-neon-green: #00ff00 ;
    --clr-bg: hsl(323 21% 16%);
}

.neon-button {
    font-size: 1rem;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon-green); /* color for neon */
    border: var(--clr-neon-green) 0.125em solid; /* create the rectangular box */
    padding: 1rem  1em;
    font-weight: bold; /* make the download text bold */
    border-radius: 0.25em;
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 .125em; /* add the glowing effect */
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon-green), 0 0 0.5em 0 var(--clr-neon-green);/* inset adds the shadow to the inside of that element */
    position: relative;
    bottom: 0;
    transition: background-color 100ms linear; /* slowly makes the background color inside turn black */
}

.neon-button:active {
    font-size: 1.1rem;
}


.neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon-green);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35); /* perspective allows rotateX() to work and tilt the image like a 3d item */
    filter: blur(1em); /* filter: blur makes the background blurry which makes the button look like its reflecting light */
    opacity: 0.7;
}

.neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon-green); /* make the background blur appear at the top */
    opacity: 0;
    transition: opacity 100ms linear; /* makes the glow intensify slowly when hovering over the button */
}
/* background changes to green and text changes to black */
.neon-button:hover,
.neon-button:focus {
    background: var(--clr-neon-green);
    color: var(--clr-bg); 
    text-shadow: none;
}

/* intensifies the light reflection when hovering */
.neon-button:hover::before,
.neon-button:focus::before{
    opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}


.music-page-wrapper {
    padding-bottom: 100px;
    padding-top: 50px;
    margin: 150px auto;
    width: 70%;
}
.music-page-columns {
    display: flex;
}

.col + .col {
    margin-left: 1.5rem;
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.music-page-h3 {
    color: white;
}

/* Concert Page */
.video-concert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 40px;
    width: 80%;
}

.box {
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: width 0.8s; /* for smooth transition when the width changes */
    margin: auto;
}   

.box:hover {
    width: 200px
}

.box:hover input {
    width: 100%;
    
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
    background: transparent;
}

.box a .fas {
    color: #1daf;
    font-size: 20px;
}

@media only screen and (max-width: 800px){
    .music-page-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    
}
